@use "sass:map";

// Breakpoints
$breakpoints: (
        'lg': ( min-width: 992px ),
        'md': ( (min-width: 768px) and (max-width: 991px) ),
        'smDown': ( max-width: 767px ),
        'sm': ( (min-width:  576px) and (max-width: 767px) ),
        'xs': ( (min-width: 0) and (max-width: 575px) ),
) !default;

/// Mixin to manage responsive breakpoints
/// @author Kitty Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map.get($breakpoints, $breakpoint))} {
      @content;
    }
  }

    // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
