@use "sass:map";

// Colors
$color-palette-gray-800: #424242 !default;

// Font
$font-size-small: 0.875rem !default;

// Spacing
$spacing05: 1rem !default;
$spacing09: 3rem !default;

// Theme
$widths: (
        container: 992px,
        container-padding: 16px,
) !default;
$heights: (
        header: 273px,
        header-top-navigation: 57px,
        footer: 235px,
        footer-mobile: 290px,
) !default;
$footer-height: map.get($heights, 'footer') !default;
$footer-height-mobile: map.get($heights, 'footer-mobile') !default;
$container-width: calc(#{map.get($widths, 'container')} + 2 * #{map.get($widths, 'container-padding')}) !default;
$container-padding: map.get($widths, 'container-padding') !default;
