@import '../../theme/variables';
@import '../../theme/mediaqueries';

.footer {
  background-color: $color-palette-gray-800;
  bottom: 0;
  height: $footer-height;
  position: absolute;
  width: 100%;

  @include respond-to('xs') {
    height: $footer-height-mobile;
  }
}

.footer__container {
  margin: 0 auto;
  max-width: $container-width;
  padding: $spacing09 $container-padding 0 $container-padding;
  width: 100%;

  @include respond-to('smDown') {
    padding-top: $spacing05;
  }
}

.footer__container--image {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: $spacing05;

  @include respond-to('xs') {
    flex-direction: column;
  }
}

.footer__text {
  align-items: center;
  color: white;
  display: flex;
  font-size: $font-size-small;
  opacity: 60%;
}

.footer__link {
  color: #fff !important;
  font-weight: 400 !important;
  margin-left: auto !important;
  text-decoration: underline !important;

  &:hover {
    color: #fff !important;
  }
}

.footer__logo--bzk {
  display: inline-block;
  height: 81px;
  width: 276px;

  @include respond-to('smDown') {
    height: 64.8px;
    width: 220.8px;
  }
  @include respond-to('xs') {
    height: auto;
    max-width: 100%;
  }
}

.footer__logo--vng {
  height: 72px;
  margin-left: $spacing09;
  width: 101px;

  @include respond-to('smDown') {
    height: 57.6px;
    width: 80.8px;
  }
  @include respond-to('xs') {
    margin-left: 0;
    margin-top: $spacing05;
  }
}

